
/* Inicia espacio general y otros de la pagina web */

body{
	background:#02010a;
	width:75%;
	margin-left:15%;
	}

p{
	font-family:"Dancing Script OT";
	font-size:22px;
	margin:10px 0 10px 0;
}

/* termina espacio general y otros de la pagina web */
/*--------------------------------------------------------------------------------------*/
/* Inicia la cabecera de la pagina web */

header{
	background-color:#5b7989;
	margin-left:10 auto;
	margin-right:10 auto;
	padding:1px 0 1px 0;
	border-radius:10px 10px 0 0;
	text-align:left;
	font-family:"Dancing Script OT";
	width:100%;
}

#titulo-principal{
	text-shadow:2px 2px #02010a;
	margin-left:40px;
}

/*.contenedor1 <-----Caja de la cabecera*/
/* .contenedor2 <-----Clases que manejan al "Titulo principal" y al "menu" del navegador*/
   
.contenedor1{
	display:-webkit-flex;
	display:flex;
	width:50%;
	padding-bottom:0 auto;
}

.contenedor2{
	width:100%;
	margin:0;
}

.contenedor1{
	width:100%;
	color:white;
	margin:0;
}

#navegador{
	list-style-type:none;
	text-align:right;
	font-size:16px;
	margin-top:30px;
	margin-right:20px;
}

#navegador li{
	display:inline;
	text-align:center;
	margin:0 10px 0 0;
	font-size:22px;
	text-decoration:underline;
}	

/* Inicia espacio verde */

#Paisaje-1{
  background-color: #82c3a6;
  padding: 20px 70px;
  text-align:center;
}
#Paisaje-1 img{
  width: 90%;
  box-shadow:2px 2px #02010a;
}

/* Termina espacio verde */
/*--------------------------------------------------------------*/
/* Inicia espacio amarillo */

#playa-huatulco{
  background-color:#d5c75f;
  padding: 20px;
  text-align:center;
}
#playa-huatulco img{
  width: 80%;
  box-shadow:2px 2px #02010a;
  text-align:center;
}

#mirada-intensa{
  background-color:#d5c75f;
  padding: 20px;
  text-align:center;
}
#mirada-intensa img{
  width: 75%;
  box-shadow:2px 2px 3px #02010a;
  text-align:center;
}

.contenedor-amarillo{
	display:-webkit-flex;
	display:flex;
	width:100%;
	padding-bottom:10px auto;
}

.foto-amarillo{
	width:100%;
}
/* Termina espacio amarillo */

footer{
	background-color:#5b7989;
	margin-left:10 auto;
	margin-right:10 auto;
	padding:1px 0 1px 0;
	border-radius:0 0 10px 10px;
	width:100%;
}

